; Copy this to ~/.local/share/meson/cross/
[binaries]
c = '/path/to/esp8266-sdk/tools/xtensa-lx106-elf/bin/xtensa-lx106-elf-gcc'
cpp = '/path/to/esp8266-sdk/tools/xtensa-lx106-elf/bin/xtensa-lx106-elf-g++'
ar = '/path/to/esp8266-sdk/tools/xtensa-lx106-elf/bin/xtensa-lx106-elf-ar'
strip = '/path/to/esp8266-sdk/tools/xtensa-lx106-elf/bin/xtensa-lx106-elf-strip'

[properties]
esp8266_base = '/path/to/code/esp8266-sdk'
esptool = '/path/to/code/esp8266-sdk/tools/esptool/esptool'

[host_machine]
system = 'bare'
cpu_family = 'xtensa'
cpu = 'lx106'
endian = 'none'
